<div class="container mt-4">

  <!-- TÍTULO -->
  <h1 class="text-center mb-4 fw-bold">
    Create Character
  </h1>

  <form (ngSubmit)="save()" class="card p-3 mb-3">
    <input class="form-control mb-2" placeholder="Nombre" [(ngModel)]="newCharacter.name" name="name" required>

    <select class="form-select mb-2" [(ngModel)]="newCharacter.characterClass" name="characterClass">
      <option *ngFor="let c of classes" [value]="c.value">
        {{ c.label }}
      </option>
    </select>

    <button class="btn btn-primary">Guardar</button>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>

  <ul class="list-group character-list mb-3">
    <li class="list-group-item fw-bold">
      <div class="row">
        <div class="col-6">Nombre</div>
        <div class="col-6">Clase</div>
      </div>
    </li>

    <li class="list-group-item" *ngFor="let c of characters">
      <div class="row">
        <div class="col-6">{{ c.name }}</div>
        <div class="col-6">{{ c.characterClass }}</div>
      </div>
    </li>
  </ul>



  <!-- IMAGEN PREVIA -->
  <div class="preview-container mb-4">
    <div class="fire-wrapper">
      <img [src]="characterImage" alt="Vista previa del personaje" class="character-preview" />
    </div>
  </div>
</div>